flows.json
[{"id":"8a0292e1.4ba49","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"8a0292e1.4ba49","name":"Node-Red y Git","info":"","x":360,"y":100,"wires":[]},{"id":"199fcc51.f36be4","type":"inject","z":"8a0292e1.4ba49","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":200,"wires":[["ea4c789c.1ee8e8"]]},{"id":"ea4c789c.1ee8e8","type":"debug","z":"8a0292e1.4ba49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":200,"wires":[]}]